{% extends "base2.html" %}

{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
                <div class="card rounded-3 text-black">
                    
                    <div class="text-center">
                        <br>
                        <p id="thick" href="/">Create an Issue</p>

                        <p class="card-text align-right">Sorry you had an unpleasant experience with CityHire.<br>
                            Kindly enter your details below and our team will get in<br>
                            touch with you within the next few days.</p>
                        <div></div>
                        
                        <form method="POST" action="/createissue">
                            {{ form.hidden_tag() }}
                            <div class="field">
                                <div class="control">
                                    <input class="scooteridbox" id="input_text" type="text" name="ScooterID" placeholder="Enter your Scooter ID">
                                    {% for error in form.ScooterID.errors %}
                                    <div class="alert alert-danger w-100" role="alert">
                                        [{{ error }}]
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <br>
                            <br>

                            {{ form.hidden_tag() }}
                            <div class="field">
                                <div class="control">
                                    <textarea class="issuebox card-text" type="text" cols="100" name="Complaint" placeholder="I had an issue with..."></textarea>
                                    {% for error in form.Complaint.errors %}
                                    <div class="alert alert-danger w-100" role="alert">
                                        [{{ error }}]
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            
                            <div class="text-center">
                                <br>
                                <button
                                    class="button btn btn-info rounded-pill is-block is-info is-fullwidth card-text">Submit</button>
                            </div>

                        </form>

                        <br>
                        <br>

                    </div>  

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}