{% extends "base.html" %}

{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <p id="thick" href="/">CityHire</p>
                                </div>

                                <form method="POST" action="/guestBooking">
                                    {{ form.hidden_tag() }}
                                    <div class="field">
                                        <div class="control">
                                            <input id="input_text" name="FirstName" placeholder="FirstName">
                                            {% for error in form.FirstName.errors %}
                                            <div class="alert alert-danger w-100" role="alert">
                                                [{{ error }}]
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="field">
                                        <div class="control">
                                            <br>
                                            <input id="input_text" name="Surname" placeholder="Surname">
                                            {% for error in form.Surname.errors %}
                                            <div class="alert alert-danger w-100" role="alert">
                                                [{{ error }}]
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="field">
                                        <div class="control">
                                            <br>
                                            <input id="input_text" type="email" name="Email" placeholder="Email">
                                            {% for error in form.Email.errors %}
                                            <div class="alert alert-danger w-100" role="alert">
                                                [{{ error }}]
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <br>
                                            <input id="input_text" type="tel" name="CardNumber"
                                                placeholder="CardNumber">
                                            {% for error in form.CardNumber.errors %}
                                            <div class="alert alert-danger w-100" role="alert">
                                                [{{ error }}]
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <br>
                                            <input id="input_text" name="ExpiryDate" placeholder="ExpiryDate">
                                            {% for error in form.ExpiryDate.errors %}
                                            <div class="alert alert-danger w-100" role="alert">
                                                [{{ error }}]
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control">
                                            <br>
                                            <input id="input_text" type="password" name="CVV" placeholder="CVV">
                                            {% for error in form.CVV.errors %}
                                            <div class="alert alert-danger w-100" role="alert">
                                                [{{ error }}]
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="control" id="input_text">
                                            <br>
                                            Location:
                                            {{ form.LocationBox(class_='form-control card-text', id='input_text') }}
                                            {% for error in form.LocationBox.errors %}
                                            <div class="alert alert-danger w-100" role="alert">
                                                [{{ error }}]
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <br>
                                    <br>

                                    <div class="field">
                                        <div class="control" id="input_text">
                                            <br>
                                            Duration:
                                            {{ form.durationBox(class_='form-control card-text', id='input_text') }}
                                            {% for error in form.durationBox.errors %}
                                            <div class="alert alert-danger w-100" role="alert">
                                                [{{ error }}]
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <br>
                                    <br>

                                    <div class="text-center">
                                        <br>
                                        <button
                                            class="button btn btn-info rounded-pill is-block is-info is-fullwidth card-text">Submit</button>
                                    </div>

                                    <br>
                                    <div class="text-center">
                                        <a href="/login" class="card-text align-right">Have an account? Sign in</a>
                                        <br>
                                        <a href="/register" class="card-text align-right">Want to make an account? Sign up!</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                </form>
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center home-image "
            style="background-image: url(/static/images/leeds-city-unblurred.png)">
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>

{% endblock %}