{% extends "base.html" %}

{% block content %}

<!-- Displays home page and references images in footer -->
<br>
<br>

<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                <h3 class="mb-4 text-center" id="thick">
                    Experience Leeds<br>on two wheels
                </h3>
                <p class="card-text text-center">
                    E-Scooters for the Urban Customer.<br>
                    The only city-wide, E-Scooter hire platform in Leeds.
                </p>
                <a href="/login" class="btn btn-info rounded-pill">Book a Ride Today</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="home-scooter-image" style="background-image: url(/static/images/electric-scooter.png)">
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<br>
<br>
<br>

<section class="section">
    <div class="container">
        <h3 class="mb-4 text-center" id="thick">
            How it Works
        </h3>
        <div class="row ar-center">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body text-center">
                        <img class="card-img-top home-image-size" src="/static/images/users.png" alt="Sign Up">
                        <h4 class="card-title">Sign Up</h4>
                        <p class="card-text">Join CityHire to begin booking your first trip. Or continue as a guest!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <img class="card-img-top home-image-size" src="/static/images/map.png" alt="Browse">
                        <h4 class="card-title">Browse</h4>
                        <p class="card-text">Find your nearest available e-scooter.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <img class="card-img-top home-image-size" src="/static/images/book.png" alt="Book">
                        <h4 class="card-title">Book</h4>
                        <p class="card-text">Proceed with payment to book your escooter.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <img class="card-img-top home-image-size" src="/static/images/enjoy.png" alt="Enjoy!">
                        <h4 class="card-title">Enjoy the Ride!</h4>
                        <p class="card-text">Enjoy your ride and return your scooter back to its location before your
                            time limit!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<br>
<br>
<br>

<div class="container">
    <h3 class="mb-4 text-center" id="thick">
        Our Prices
    </h3>
    <div class="row ar-center">
        <div class="offset-lg-2 offset-md-1 col-lg-4 col-md-5 col-6 h-100 py-3">
            <article class="stats-tem bg-white text-center">
                <h3 class="card-title px-3">Hourly Hire</h3>
                <p class="card-text px-3">£4 only!</p>
            </article>
        </div>
        <div class="col-lg-4 col-md-5 col-6 col-6 h-100 py-3">
            <article class="stats-tem bg-white text-center">
                <h3 class="card-title px-3">4 Hour Hire</h3>
                <p class="card-text px-3">£10 only!</p>
            </article>
        </div>
        <div class="offset-lg-2 offset-md-1 col-lg-4 col-md-5 col-6 h-100 py-3">
            <article class="stats-tem bg-white text-center">
                <h3 class="card-title px-3">Daily Hire</h3>
                <p class="card-text px-3">£40 only!</p>
            </article>
        </div>
        <div class="col-lg-4 col-md-5 col-6 col-6 h-100 py-3">
            <article class="stats-tem bg-white text-center">
                <h3 class="card-title px-3">Weekly Hire</h3>
                <p class="card-text px-3">£300 only!</p>
            </article>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="home-scooter-image" style="background-image: url(/static/images/scooter-rack.jpg)"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <h3 class="mb-4 text-center" id="thick">
                    Who we are.
                </h3>
                <p class="card-text">
                    Our goal is to reduce the use of renewable resources, greenhouse gas emissions and the overall use
                    of fueled vehicles. Through CityHire we aim to encourage everyone in the community to use a
                    non-fueled vehicle whenever possible to travel around the beautiful city that is Leeds!
                    Our costs are extremely affordable and we prioritize customer safety.
                    So join us and book your first ride today!
                </p>
            </div>
        </div>
    </div>
</section>

<br>
<br>
<br>
<br>

<section class="section">
    <div class="container section-intro">
        <h3 class="mb-4 text-center" id="thick">
            Our Mission
        </h3>
        <div class="row ar-center">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body text-center">
                        <img class="card-img-top home-image-size" src="/static/images/sustainable.png" alt="Sign Up">
                        <h4 class="card-title">Sustainability</h4>
                        <p class="card-text">We aim to reduce greenhouse gas emissions through encouraging electric
                            vehicles.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <img class="card-img-top home-image-size" src="/static/images/affordable.png" alt="Browse">
                        <h4 class="card-title">Affordability</h4>
                        <p class="card-text">Our e-scooter's are extremely affordable and allow hourly, four hour,
                            weekly rates and more!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <img class="card-img-top home-image-size" src="/static/images/energy.png" alt="Book">
                        <h4 class="card-title">Save Energy</h4>
                        <p class="card-text">Reduce the use of renewable resources.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <img class="card-img-top home-image-size" src="/static/images/safety.png" alt="Enjoy!">
                        <h4 class="card-title">Safety</h4>
                        <p class="card-text">Safety is our top priority and we take our customers safety seriously.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<br>
<br>
<br>

<footer>
    <div class="text-center">
        <a class="footer-links" href="https://www.flaticon.com/free-icons/map" title="map icons">Map icons created by
            Vectors Market -
            Flaticon</a>
        <a class="footer-links" href="https://www.flaticon.com/free-icons/add" title="add icons">Add icons created by
            SBTS2018 - Flaticon</a>
        <a class="footer-links" href="https://www.flaticon.com/free-icons/payment" title="payment icons">Payment icons
            created by monkik -
            Flaticon</a>
        <a class="footer-links" href="https://www.flaticon.com/free-icons/sustainability"
            title="sustainability icons">Sustainability icons
            created by Freepik - Flaticon</a>
        <a class="footer-links" href="https://www.flaticon.com/free-icons/environment"
            title="environment icons">Environment icons created by
            Freepik - Flaticon</a>
        <a class="footer-links" href="https://www.flaticon.com/free-icons/money" title="money icons">Money icons created
            by Freepik -
            Flaticon</a>
        <a class="footer-links" href="https://www.flaticon.com/free-icons/safety" title="safety icons">Safety icons
            created by Freepik -
            Flaticon</a>
    </div>
</footer>

{% endblock %}