{% extends "base.html" %}

{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <p id="thick" href="/">CityHire</p>
                                </div>

                                <form method="POST" action="/login">
                                    {{ form.hidden_tag() }}
                                    <div class="field">
                                        <div class="control">
                                            <input id="input_text" type="Username" name="Username"
                                                placeholder="Username">
                                            {% for error in form.Username.errors %}
                                            <div class="alert alert-danger w-100" role="alert">
                                                [{{ error }}]
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="field">
                                        <div class="control">
                                            <br>
                                            <input id="input_text" type="Password" name="Password"
                                                placeholder="Password">
                                            {% for error in form.Password.errors %}
                                            <div class="alert alert-danger w-100" role="alert">
                                                [{{ error }}]
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="text-center">
                                        <br>
                                        <button
                                            class="button btn btn-info rounded-pill is-block is-info is-fullwidth">Login</button>
                                    </div>

                                    <br>
                                    <div class="text-center">
                                        <a href="/register" class="card-text align-right">Don't have an account? Sign up
                                            today</a>
                                        <br>
                                        <a href="/guestBooking" class="card-text align-right">Or continue as a guest</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                </form>
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center"
            style="background-image: url(/static/images/leeds-city-unblurred.png)">
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>

{% endblock %}
