{% extends "base.html" %}

{% block content %}

    <div class="text-center">
        <h2 class="All Scooters" id="thick">
            <br>All Scooters<br>
        </h2>
    </div>
    <div style="text-align: center">
        <table id="tbl" border=1 width="60%" frame=void rules=none style="margin: auto">
        <tr>
            <td>
                <h3>
                    <br>ID: 111<br>
                </h3>
                <select>
                    <option value="avaliable">Avaliable</option>
                    <option value="unavaliable">Unavaliable</option>
                </select>    
            </td>
            <td>
                <h3>
                    <br>ID: 222<br>
                </h3>
                <select>
                    <option value="avaliable">Avaliable</option>
                    <option value="unavaliable">Unavaliable</option>
                </select>   
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    <br>ID: 333<br>
                </h3>
                <select>
                    <option value="avaliable">Avaliable</option>
                    <option value="unavaliable">Unavaliable</option>
                </select>   
            </td>
            <td>
                <h3>
                    <br>ID: 444<br>
                </h3>
                <select>
                    <option value="avaliable">Avaliable</option>
                    <option value="unavaliable">Unavaliable</option>
                </select>   
            </td>
        </tr>
        </table>
    </div>
{% endblock %}